$font-family: 'Montserrat', sans-serif;
//$font-family: 'Muli', sans-serif;
$primary-color: #232635;
$accent-color: #EBD57B;
$link-normal-color: red;
//$link-highlight-color: #366376; 
$link-highlight-color: $accent-color; 
$dark-font-color: #333;

