@import 'sass/util', 'sass/variables';

.__ixr[testimonialCardCon] {
    position: relative;
    min-height: 150px;
    $photoSize: 150px;
    &.__ixr[darkerShade] {
        background-color: #F4F4F4;
    }
    .__ixr[pictureCon] {
        border-radius: 50%;
        display: block;
        overflow: hidden;
        max-width: $photoSize;
        max-height: $photoSize;   
        img.__ixr[photo] {            
            width: $photoSize;
            height: $photoSize; 
        }
    } 
    .__ixr[txt] {
        .__ixr[clientName] {
            font-size: 1.2em;
        }
        .__ixr[clientTitle] {
            font-size: 0.8em;
            color: #ccc;
            line-height: 1em;
            vertical-align: top;
            font-style: italic;
        }
        .__ixr[testimonialText] {
            font-size: 0.8em;
        }
        &.text-right {
            padding-left: 20px;
        }
        &.text-left {
            padding-right: 20px;
        }
    } 
    @include media-breakpoint-down(md) { // mobile
        .__ixr[clientName], .__ixr[clientTitle] {
            text-align: center !important;     
            display: block;     
        } 
        .__ixr[testimonialText] {
            text-align: justify !important;    
            margin-top: 20px;
        }
        &.__ixr[darkerShade] {
            background-color: transparent;
        }
    }  
    
    
}