@import 'sass/util', 'sass/variables';

.__ixr[footerCon] {
    background-color: $primary-color;
    color: #fff;
    & > a {                
        &:hover {
            color: $accent-color !important;
        }
        &:last-child {
            border: 0;
        }
        color: #ccc !important;
        display: inline-block;
        padding: 2px 20px;
        border-right: 1px solid #ccc;
        @include media-breakpoint-down(md) {
            padding: 2px 10px;
        }  
    }
    .fab:before,
    .fas:before {
        padding-right: 5px;
    }
    
    @include media-breakpoint-down(md) {
        display: none;
    }
}